<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LIBRARY NAME</a>
    </div>
    <ul class="nav navbar-nav">
      <li >
        <%= link_to 'Home',root_path %>

      <li>
        <%= link_to 'student',students_path %>
      </li>
      
    </ul>
  </div>
</nav>